# turn on mod_rewrite
RewriteEngine On

# turn of index directory listing
Options -Indexes

# reidirect all request to index.php if file or folder have not existed public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ public/index.php [QSA,L]
