RewriteEngine On

#apply for all folder applycation
Options -Indexes

# if application could not find file or folder, all request is redirected to  index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]