#form_login, #form_register{
	width: 400px;
	height: 500px;
	display: grid;
	grid-auto-rows: 1fr;
	justify-items: center;
	align-items: center;
	align-self: start;
	border-radius: 20px;
	border: var(--solid-1) var(--rgb-dark-grey);
	background-image: url(../asset/login-background.webp);
	background-size: cover;	
	color: var(--rgb-dark-grey);
}

.from-authen-input{
	display: flex;
	justify-self: stretch;
	justify-content: stretch;
	margin: 0 2rem;
	gap: 16px;
	font-weight: 800;
	font-size: 16px;
	align-items: center;
}

#remember{
	height: 20px;
	width: 20px;
	appearance: none;
	border:var(--solid-2) var(--rgb-dark-grey);
    border-radius: 5px;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
}

#remember:checked{
	background-color: var(--rgb-light-green);
	background-size: contain;
	border: var(--solid-2) whitesmoke;

}

.check-box:hover #remember{
	color: whitesmoke;
	background-color: var(--rgb-light-green);
	background-size: contain;
	border: var(--solid-2) whitesmoke;
}


#full_name{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 1em
}

#firstname, #lastname{
	width: 100px;
}
