#form{
	width: 400px;
	height: 500px;
	display: grid;
	grid-template-rows: auto;
	justify-items: center;
	align-items: center;
	border-radius: 20px;
	border: 1px solid black;
	background-image: linear-gradient(45deg, rgb(148, 237, 238), rgb(146, 166, 234));
}


#username, #password {
	padding: 10px;
	border-radius: 10px;
	outline: 1px solid skyblue;
	border: 1px solid skyblue;
	width: 200px;

}
