@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+VA+Guides&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Space+Grotesk:wght@300..700&display=swap');

:root{
 --rgb-blue:  rgb(19, 143, 213 );
 --rgb-silver: rgb(205, 222, 236);
 --solid-1: 1px solid;
 --solid-2: 2px solid;
 --rgb-dark-red: rgb(192, 12, 6 );
 --rgb-light-green: rgb(91, 238, 111 );
 --rgb-dark-grey: rgb(70, 68, 71 );
 --rgb-red: rgb(229, 32, 15);
 --rgb-dark-green:rgb(34, 166, 82 );
 --rgb-lightweight-green: rgb(181, 233, 180);
 --rgb--red-grow: rgb(171, 38, 38 );
 --rgb--violet-blue: rgba(147,186,235,255);
 --rgb-light-blue: rgb(147, 211, 234, 1);
 --rgb-grey-violet: rgb( 133, 155, 218, 1);
 --rgb-dark-violet: rgb(51, 19, 96, 1);
 --rgb-neon-red: rgb(255, 49, 49);
}

*{
	box-sizing: border-box;
}

#form_container{
	width: 100%;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-items: center;
	background-size: cover;
	position: relative;
}

.check-box{
	display: flex;
	justify-self: stretch;
	justify-content: stretch;
	margin: 0 2rem;
	gap: 16px;
	font-weight: 800;
	font-size: 16px;
	align-items: center;
}

.form-btn{
	padding: 10px 16px;
	border-radius: 10px;
	border: var(--solid-1) black;
	font-size: 16px;
	font-weight: 500;
	background-color: aliceblue;
}

.check-box:hover{
	color: whitesmoke;
}

.form-btn:hover{
	background-color: var(--rgb-silver);
	color:  var(--rgb-blue);
}

.error {
	font-size: 18px;
	color: var(--rgb-dark-red);
	font-weight: 800;
	display: none;
}

.next-page{
	display: flex;
	justify-content: center;
	gap: 0.5em;
	align-items: center;
}

.next-page:hover{
	color: whitesmoke;
}
.next-page:hover path{
	fill: whitesmoke;
}

.input-invalid{
	outline: var(--solid-1) var(--rgb-red) !important;
	border:  var(--solid-1) var(--rgb-red) !important;
}

#alert_modal{
	border-radius: 10px;
	align-self: start;
	width: 420px;
	height: 100px;
	font-size: 24px;
	font-weight: 800;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	position: absolute;
	justify-self: center;
	top: 1em;
}

#confirm_modal{
	display: grid;
	height: 120px;
	width: 420px;
	background-color: var(--rgb-grey-violet);
	gap: 10px;
	font-size: 20px;
	font-weight: 500;
	border-radius: 10px;
	grid-template-rows: auto;
	position: absolute;
	justify-self: center;
	top: 10px;
	padding: 5px;
}

#close_confirm{
	border: unset;
	background-color: unset;
	outline: unset;
	justify-self: end;
	cursor: pointer;
}

#close_confirm:hover path{
	fill: var(--rgb-neon-red);
}

.group-btn{
	display: flex;
	justify-content: space-between;
	padding: 0 2em;
}

.confirm_btn{
	padding: 5px 20px;
	font-size: 16px;
	font-weight: 600;
	border-radius: 10px;
	border: unset;
	align-items: center;
	cursor: pointer;
}

.confirm_btn:hover{
	background-color: var( --rgb-silver);
	color: var(--rgb-dark-grey);
	border: var(--solid-1) var(--rgb-dark-violet);

}
#confirm_message{
	justify-self: center;
}

.success{
	color:  var(--rgb-dark-green);
	border: var(--solid-1)  var(--rgb-dark-green);
	background: var(--rgb-lightweight-green);
	box-shadow: 5px 10px 8px #888888
}

.danger{
	color: var(--rgb--red-grow);
	border: var(--solid-1) var(--rgb-dark-red);
	background: rgb(236, 165, 165);
	box-shadow: 5px 10px 8px #888888
}

.hidden{
	display: none !important;
}

.align-self-start{
	align-self: start;
}

::-webkit-scrollbar{
	width: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--rgb-grey-violet);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--rgb-dark-violet); 
}

.rainbow_text_animated {
    background: linear-gradient(to right, #135013 ,#099909, #7a8304, #5a5904);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.align-flex-end{
	align-self: flex-end;
	margin-bottom: 20px;
}

.input-file{
	display: none;
}

a{
	text-decoration: none;
	color: unset;
}


.input-form {
	padding: 10px;
	border-radius: 10px;
	border: var(--solid-1) whitesmoke;
	outline: var(--solid-1)  whitesmoke;
	width: 250px;

}

.input-form:hover {
	outline:var(--solid-2) var(--rgb-blue);

}